html {
  height: 100%;
}

ul {
  list-style: none;
}

.left-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: gray;
  width: 20%;
  height: 100%;
}

.nav-content {
  padding-left: 15px;
}

.rooms-list {
  margin-top: 10px;
}

.rooms-list:hover {
  cursor: pointer;
}

.chatroom {
  position: fixed;
  top: 0px;
  left: 22%;
  width: 75%;
  height: 100%;
  overflow: scroll;
}

.chat-content {
  margin-top: 20px;
}

.room-name {
  margin-bottom: 35px;
}

.user {
  font-weight: bold;
}

.send-message-bar {
  position: fixed;
  bottom: 20px;
}

.send-message-bar input {
  width: 600px;
}
